{# {% block sidebar %} #}
<div id="sidebar">
    <div id="sticky-sidebar">
        <a href="/">
            <h1>RVRX</h1>
            <h2>Cole Manning</h2>
        </a>
    <nav>
        <div>
            <p><a href="/blog" class="current-page">blog</a></p>
            <p><a href="/work">work</a></p>
            <p><a href="/resume">resum&eacute;</a></p>
            <p><a href="/about">about</a><p>
        </div>
    </nav>
    </div>
</div>
{# {% endblock %} #}
