<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Cole Manning, Blog, RVRX, devblog, dev-blog, WPI, cmanning">
    {% if post.desc %}
	<meta name="description" content="{{ post.desc }}">
	{% else %}
    <meta name="description" content="Website and Dev Blog of Cole Manning">
    {% endif %}

    {% if post.title %}
	<title>{{ post.title }} | RVRX Blog</title>
	{% else %}
    <title>RVRX Blog</title>
	{% endif %}

    <link href="/sidebar.css" rel="stylesheet">
    <link href="/post.css" rel="stylesheet">
    <link href="/prismjs/prism.css" rel="stylesheet">
    <style>code[class*="language-"]:not(pre code[class*="language-"]) {line-height: normal}</style> <!-- Override weird line-height from prisim-js -->
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FMR0C9R487"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FMR0C9R487');
</script>
<body>
<div id="sidebar">
    <div id="sticky-sidebar">
        <a href="/">
            <h1>RVRX</h1>
            <h2>Cole Manning</h2>
        </a>
    <nav>
        <div>
            <p><a href="/blog" class="current-page">blog</a></p>
            <p><a href="/work.html">work</a></p>
            <p><a href="/resume.html">resum&eacute;</a></p>
            <p><a href="/about.html">about</a><p>
        </div>
    </nav>
    </div>
</div>
<div id="main">
    <div class="post">
        <h1>{{ post.title }}</h1>
        <div id="post-metadata">
          {% if post.subtitle %}
          	<h2 class="subtitle">{{ post.subtitle }}</h2>
          {% endif %}
          {% if post.datePosted or post.tags %}
	        <ul>
	          {% if post.datePosted %}
	            <li><time datetime="2022-10-26">{{ post.datePosted }}</time></li>
	          {% endif %}
	          {% if post.tags %}
	          	<li>
	            {% for tag in post.tags %}
	            	<a href="tags/{{ tag }}" class="post-tag">{{ tag }}</a>{% if not loop.last %},{% endif %}
	            {% endfor %}
	            </li>
	          {% endif %}
	        </ul>
	  	 {% endif %}
	    </div>
        <div id="post-body">
            {{ post.body }}
        </div>
    </div>
</div>
<script src="/prismjs/prism.js"></script>
</body>
</html>