<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Cole Manning, Blog, RVRX, devblog, dev-blog, WPI, cmanning">
    {% if post.desc %}
	<meta name="description" content="{{ post.desc }}">
	{% else %}
    <meta name="description" content="Website and Dev Blog of Cole Manning">
    {% endif %}

    {% if post.title %}
	<title>{{ post.title }} | RVRX Blog</title>
	{% else %}
    <title>RVRX Blog</title>
	{% endif %}

    <link href="/sidebar.css" rel="stylesheet">
    <link href="/post.css" rel="stylesheet">
    <link href="/prismjs/prism.css" rel="stylesheet">
    <style>code[class*="language-"]:not(pre code[class*="language-"]) {line-height: normal}</style> <!-- Override weird line-height from prisim-js -->
</head>
{% include "gtag.njk" %}
<body>
{% include "sidebar.njk" %}
<style type="text/css">
	#post-body a, #post-metadata a {
		color: {{ post.color }};
	}

	#sidebar a.current-page {
		color: {{ post.color }};
	}

	#post-body a:hover, #post-metadata a:hover {
		color: {{ post.color }}AA !important;
	}

	#sidebar a.current-page:hover {
		color: {{ post.color }}AA !important;
	}
</style>
<div id="main">
    <div class="post">
        <h1 style="background-color: {{ post.color }}">{{ post.title }}</h1>
        <div id="post-metadata">
          {% if post.subtitle %}
          	<h2 class="subtitle">{{ post.subtitle }}</h2>
          {% endif %}
          {% if post.datePosted or post.tags %}
	        <ul>
	          {% if post.datePosted %}
	            <li><time datetime="{{ post.datePosted.getFullYear().toString() + '-' + post.datePosted.getMonth() + '-' + post.datePosted.getDate().toString() }}">Posted: {{ post.datePosted.toLocaleString('default', { day: 'numeric', month: 'short', year: 'numeric'}) }}</time></li>
	          {% endif %}
	          {% if (post.dateEdited.getTime() !== post.datePosted.getTime()) %}
	          	<li><em><time datetime="{{ post.dateEdited.getFullYear().toString() + '-' + post.dateEdited.getMonth() + '-' + post.dateEdited.getDate().toString() }}">Edited: {{ post.dateEdited.toLocaleString('default', { day: 'numeric', month: 'short', year: 'numeric'}) }}</time></em></li>
	          {% endif %}
	          {% if post.tags %}
	          	<li>
	            {% for tag in post.tags %}
	            	<a href="../tags/{{ tag }}" class="post-tag">{{ tag }}</a>{% if not loop.last %},{% endif %}
	            {% endfor %}
	            </li>
	          {% endif %}
	        </ul>
	  	 {% endif %}
	    </div>
        <div id="post-body">
            {{ body }}
        </div>
    </div>
</div>
<script src="/prismjs/prism.js"></script>
</body>
</html>