<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Cole Manning, Blog, RVRX, devblog, dev-blog, WPI, cmanning">
    <meta name="description" content="Website and Dev Blog of Cole Manning">

    <link href="/sidebar.css" rel="stylesheet">
    <link href="/post.css" rel="stylesheet">
	<title>{{ tagName }} | RVRX Blog</title>
</head>
{% include "gtag.njk" %}
<body>
{% include "sidebar.njk" %}
<div id="main">
	 <div class="post">
	 	<h1>Tagged "{{ tagName }}"</h1>
	  	<div id="post-body">
			<ul>
			{% for post in posts -%}
				{%- for postTag in post.tags -%}
					{%- if postTag === tagName -%}
						<li><a href="{{ post._path }}">{{ post.title }}</a></li>
					{%- endif -%}
				{%- endfor -%}
			{%- endfor %}
			</ul>
		</div>
	 </div>
</div>
</body>
</html>