<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}{% endblock %}
</head>
{% include "gtag.njk" %}
<body>
{% include "sidebar.njk" %}
{% block content %}{% endblock %}
</body>
</html>

