---
layout: base.njk
title: Home
permalink: /blog/
---
<style>body {background-image: url("/img/background-blog-new.webp")}</style>
<div id="main" style="overflow: hidden;">
{% for post in collections.posts | reverse %}
        <div class="post">
            <a href="{{ post.url }}"> 
                
                <div class="post-container" data-aos="fade-right" 
                style="
                    background-color:{{ post.data.color | default("#887AA2", true) }};
                    transition-duration:588.808ms;">
                    <p class="post-title">{{ post.data.title }}</p>
                    <p class="post-subtitle">
                    {% if post.data.date %}<time datetime="{{ post.data.date | date('%Y-%m-%d') }}">{{ post.data.date | date('%B %d, %Y') }}</time>{% endif %}
                    </p>
                </div>
            </a>
        </div>
{% endfor %}
</div>
