---
title: Résumé
description: "Résumé of Cole Manning (RVRX), infrastructure engineer in Massachusetts with a background in computer science and cybersecurity."
nav: resume
permalink: /resume/
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Cole Manning, RVRX, resume">

{% include "seo.njk" %}

    <link href="/css/listing.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FMR0C9R487"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FMR0C9R487');
</script>
<body>
{% include "sidebar.njk" %}
<div id="main">
    <h1 class="visually-hidden">R&eacute;sum&eacute;</h1>
    <div class="post" style="text-align: center">
        <object data="/resume.pdf" width="90%" height="800px" type="application/pdf">
        <p>It appears your browser doesn't have PDF capabilities.
            You can <a href="/resume.pdf" target="_blank">click here to view the file instead.</a></p>
        </object>
    </div>
</div>
</body>
</html>
